{% extends 'base.html.twig' %}

{% block title %}Modifier une tâche{% endblock %}

{% block body %}
    <h1 class="mb-4">Modifier la tâche</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="mb-3">
            {{ form_label(form.title, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.description, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.status, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.status, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="mb-3">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
